<!DOCTYPE html>
<html>
<head>
    <title>Error</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="error-container">
        <h1><%= statusCode %></h1>
        <p><%= error %></p>
        <a href="/home" class="btn-primary">Back to Home</a>
    </div>
</body>
</html>