<!DOCTYPE html>
<html>
<head>
    <title>Instagram Clone - Login</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<a href="/auth/facebook">使用 Facebook 登录</a>
    <div class="login-container">
        <div class="login-box">
            <h1>📷 Instagram Clone</h1>
            
            <% if (message) { %>
                <div class="alert"><%= message %></div>
            <% } %>
            
            <form action="/api/users/login" method="POST">
                <div class="form-group">
                    <label>Username</label>
                    <input type="text" name="username" required autofocus>
                </div>
                
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" name="password" required>
                </div>
                
                <button type="submit" class="btn-primary">Login</button>
            </form>
            
            <p class="auth-link">
                Don't have an account? <a href="/register">Sign up here</a>
            </p>
        </div>
    </div>
</body>
</html>

