<!DOCTYPE html>
<html>
<head>
  <title>Mini IG</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <header>
    <h1>Mini Instagram</h1>
    <% if (user) { %>
      <p><%= user.username %> | <a href="/post/new">+ New Post</a> | <a href="/logout">Logout</a></p>
    <% } %>
  </header>
  <main><%- body %></main>
</body>
</html>